:root {
  --default-font: "Poppins", sans-serif;
  --user-title-font: "Alfa Slab One", cursive;
  --brand-font: "Sassy Frass", cursive;
}
body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
}
.bg-img {
  background: url("../images/user.jpg") no-repeat;
}
.bg2-dark {
  background: rgba(0, 0, 0, 0.7);
}
.bg-dark {
  background-color: #020202 !important;
}
a {
  text-decoration: none;
  color: #fff;
}
.title-font {
  font-family: var(--default-font);
}

.display-1 {
  font-family: var(--user-title-font);
  font-size: 4rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li,
.fa-bars {
  cursor: pointer;
}
a.active {
  color: gold !important;
  border-bottom: 2px solid gold;
}
nav a:hover {
  border-bottom: 2px solid gold;
}
.navbar-brand {
  font-family: var(--brand-font);
}
.navbar-brand:hover {
  border-bottom: none !important;
}
.project-content img {
  height: 258px !important;
}
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: gold;
}
.contact-content .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}
.contact-content .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}
.contact-content .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}
.contact-content .info-box .title-icon {
  font-size: 24px;
  color: gold;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}
.contact-content .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}
.contact-content .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}
.contact-content .info-box .social-links a:hover {
  color: gold;
}
.contact-content .form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}
.contact-content .form input {
  padding: 10px 15px;
}
.contact-content .form input,
.contact-content .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  transition: 0.3s;
  color: #fff;
}
.social {
  padding: 0;
  margin-top: 5rem;
}
.social a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: gold;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.social a:hover {
  background-color: gold;
  color: #020202;
}
button a.text-warning:hover {
  color: #020202 !important;
}
.home-content,
.about-content,
.project-content,
.contact-content {
  position: relative;
  top: 5rem;
}

.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}
@media (min-width: 770px) {
  .navbar ul li {
    margin: 0 3rem;
  }
  .px-0-sm {
    padding: 0 !important;
  }
}
@media (max-width: 1200px) {
  footer .col-12 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}
@media (max-width: 770px) {
  strong.display-1 {
    font-size: 3rem !important;
  }
}
@media (max-width: 540px) {
  strong.display-1 {
    font-size: 2rem !important;
  }
}
